.song-list-wrapper{
    background-color: #ededed;
    border-width: thin;
    border-style: solid;
    border-color: #cbcbcb;
    padding: 10px;
    width:90%;
    height: calc(90vh - 150px);
}

.top-nav-wrapper{
    display: flex;
    width:100%;
    height:150px;
}

.logo{
    width:150px;
    height:auto;
}

.content-wrapper{
    display: flex;
    width: 100%;
}

.side-menu-wrapper{
    width:10%;
    margin-right:8px;
}