.fields-wrapper{
    display:flex;
    flex-direction: column;
    width:800px;
    margin: 14px; 
}

.form-toggle-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-toggle-wrapper{
    cursor: pointer;
}

.form-toggle-button{
    padding: 10px 16px 10px 16px;
    background-color: transparent;
    border: 1px black solid;
}

.active-toggle{
    background-color: rgb(214, 167, 47);
    box-shadow: 5px 5px 5px 5px rgb(226, 196, 97);
}

.active-submit-button{
    background-color: rgb(214, 167, 47);
}

.title{
    font-size: large;
}

.back-arrow{
    color: rgb(214, 167, 47);
    font-size: xx-large;
}

.back-arrow:hover{
    cursor: pointer;
}

.find-songs-button-wrapper{
    display: flex;
    justify-content: center;
}

.open-youtube-btn{
    width: 74px;
    margin-left: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 50px;
    background-color: rgb(214, 167, 47);
    border: 1px black solid;
}
.open-youtube-btn-disabled{
    background-color: grey;
}

.loading-msg{
    margin: 14px;
}

.checkbox-wrapper{
    display: flex;
}

input[type="checkbox"]{
    width: 14px;
}