<div class="fields-wrapper">
    <div class="back-arrow" (click)="backToLibrary()">&#8592;</div>
    <div class="title">Add new song</div>
</div>
<div class="form-toggle-wrapper">
    <div [ngClass]="{ 'active-toggle':  importTypeToggle, 'form-toggle-button': true}" (click)="changeForm(true)">Youtube to MP3</div>
    <div [ngClass]="{ 'active-toggle': !importTypeToggle, 'form-toggle-button': true}" (click)="changeForm(false)">Folder of Files</div>
</div>
<div class="loading-msg" *ngIf="showImportLoading">Loading Import</div>
<div class="loading-msg" *ngIf="showYoutubeisOpen">Youtube is open. Select Songs in tab</div>
<div *ngIf="importTypeToggle">
    <form [formGroup]="findSongForm">
    
        <div class="fields-wrapper">
            <label for="muteConfig">Mute Youtube: </label>
            <input id="muteConfig" type="checkbox" formControlName="muteConfig">
        
        </div>
    </form>
    <div [ngClass]="{'open-youtube-btn-disabled': showYoutubeisOpen, 'open-youtube-btn': !showYoutubeisOpen}" (click)="openYoutube()">Find Songs</div>
</div>
<div *ngIf="!importTypeToggle">
    <form [formGroup]="importMp3Form">
    
        <div class="fields-wrapper">
            <label for="importpath">Import Path: </label>
            <input id="importpath" type="text" formControlName="importpath">
        
            <button type="button" [ngClass]="{'active-submit-button': (importMp3Form.valid && !showImportLoading)}" [disabled]="!importMp3Form.valid || showImportLoading" (click)="submitImport()">Submit</button>
        </div>
        
      
      </form>
</div>

