.fields-wrapper{
    display:flex;
    flex-direction: column;
    width:800px;
    margin: 14px; 
}

.form-toggle-wrapper{
    display: flex;
    justify-content: start;
    margin-left: 14px;
}

.form-toggle-wrapper{
    cursor: pointer;
}

.form-toggle-button{
    padding: 16px;
    background-color: transparent;
    border: 1px black solid;
}

.active-toggle{
    background-color: rgb(214, 167, 47);
}

.active-submit-button{
    background-color: rgb(214, 167, 47);
}

.title{
    font-size: large;
}

.back-arrow{
    color: rgb(214, 167, 47);
    font-size: xx-large;
}

.back-arrow:hover{
    cursor: pointer;
}
.open-youtube-btn{
    width: 74px;
    margin-left: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(214, 167, 47);
    border: 1px black solid;
}
.open-youtube-btn-disabled{
    width: 74px;
    margin-top: 24px;
    margin-left: 14px;
    margin-bottom: 8px;
    padding: 5px;
    background-color: grey;
    border: 1px black solid;
}

.loading-msg{
    margin: 14px;
}

input[type="checkbox"]{
    width: 14px;
}