<div class="radio-wrapper">
    <button class="thin-radio-btn" (click)="previousClicked()">&lt;</button>
    <button class="radio-btn" (click)="playClicked()">|></button>
    <button class="radio-btn" (click)="pauseClicked()">||</button>
    <button class="thin-radio-btn" (click)="nextClicked()">&gt;</button>
    <div class="song-info-wraper">
        <p class="song-name">{{currentSong?.name}}</p>
        <div class="song-sub-info-wrapper">
            <p class="song-sub-info">{{currentSong?.artist}}</p>
            <p class="song-sub-info">{{currentSong?.album}}</p>
        </div>
    </div>
    <mat-slider min="0" max="1" step="0.1" value="0.5" aria-label="volume" (change)="setNewVolume($event)"></mat-slider>

    <div class="queue-wrapper">
        <button class="queue-btn" 
            (click)="toggleQueue()" 
            (drop)="queueButtonDrop($event)" 
            (dragover)="queueButtonDragover($event)"
            (dragenter)="queueButtonDragenter($event)"
            (dragleave)="queueButtonDragleave($event)">
                Queue
        </button>
        <div *ngIf="queueDragAndDropHovered || queueButtonHovered"
            class="queue-drag-and-drop-wrapper"
            (dragenter)="firstLastDragenter($event)"
            (dragleave)="firstLastDragleave($event)">
            <div 
                [ngClass]="{'queue-drag-and-drop':!queueDragAndDropFrontHovered,'queue-drag-and-drop-active':queueDragAndDropFrontHovered}"
                (drop)="firstLastDrop($event, 'front')"
                (dragover)="firstLastDragover($event)"
                (dragenter)="firstLastInnerDragenter($event, 'front')"
                (dragleave)="firstLastInnerDragleave($event, 'front')">
                Front
            </div>
            <div 
            [ngClass]="{'queue-drag-and-drop':!queueDragAndDropbackHovered,'queue-drag-and-drop-active':queueDragAndDropbackHovered}"
                (drop)="firstLastDrop($event, 'back')"
                (dragover)="firstLastDragover($event)"
                (dragenter)="firstLastInnerDragenter($event, 'back')"
                (dragleave)="firstLastInnerDragleave($event, 'back')">
                Back
            </div>
        </div>
    </div>
    
</div>
<dialog #QueueDialog class="queue-dialog">
    <div class="queue-menu">
        <div class="clear-wrapper">
            <button [ngClass]="{'queue-button-on': player.shuffleOn, 'queue-button-off': !player.shuffleOn}" (click)="toggleShuffle()">shuffle</button>
            <button [ngClass]="{'queue-button-on': player.loopOn, 'queue-button-off': !player.loopOn}" (click)="toggleLoop()">loop</button>
            <button class="queue-clear-button" (click)="clearQueue()">clear</button>
        </div>
        <button class="queue-close-button" (click)="toggleQueue()">X</button>
    </div>
    <ul class="queue-list">
        <li *ngFor="let song of player.getQueue().queue; let queueIndex = index" [ngClass]="queueIndex%2===0? 'even-row' : 'odd-row'">
            <div class="queue-song-flex">
                <div class="queue-song-name">{{song.name}}</div>
                <button (click)="removeFromQueue(queueIndex)">X</button>
            </div>
        </li>
    </ul>
</dialog>
