<dialog #ArtistInfoDialog class="artist-info-dialog">
  <div class="artist-info-dialog-menu">
    <button (click)="toggleArtistInfo(artistInfoArtist)">X</button>
  </div>
  <div class="artist-info-dialog-content">
    <div class="artist-info-dialog-title-1">{{artistInfoArtist?.name}}</div>
    <app-song-list [songs]="artistInfoArtist?.songs" [centerViewType]="centerViewType" [currentPlaylist]="currentPlaylist"></app-song-list>
  </div>
</dialog>

<div class="search-wrapper">
  <input class="search-input" type="text" placeholder="search" (input)="searchChanged($event)">
</div>

<div class="artist-list-wrapper">
  <ng-container *ngFor="let artist of filteredArtists">
    <div class="artist-list-card" (click)="toggleArtistInfo(artist)">
      <img class="artist-list-img" src="{{artist.imgPath}}" onerror="this.onerror=null; this.src='assets/artists/artist-default.jpg'" draggable="false">
      <div class="artist-list-name">{{artist.name}}</div>
    </div>
  </ng-container>
</div>

