<div class="search-wrapper">
  <input class="search-input" type="text" placeholder="search" (input)="searchChanged($event)">
  <button *ngIf="centerViewType==0 && currentPlaylist.id == '-1'" (click)="toggleAddSong()" class="add-song-button"><span class="add-song-plus-icon">+</span> Add Song</button>
</div>

<div class="table-wrapper">
  <table class="table-styling">
    <tr class="header-row">
      <th class="table-headers" *ngFor="let col of displayedColumns"><span (click)="sortColumnClicked(col)" class="header-words"  [ngClass]="{'header-words-focused': col==sortCol}">{{col}}</span></th>
    </tr>
    <dialog #AddSongDialog class="song-info-dialog">
      <div class="song-info-dialog-menu">
        <button (click)="toggleAddSong()">X</button>
      </div>
      <app-add-song></app-add-song>
    </dialog>
    <dialog #SongInfoDialog class="song-info-dialog">
      <div class="song-info-dialog-menu">
        <button (click)="toggleSongInfo(songInfoSong)">X</button>
      </div>
      <form class="song-info-dialog-input-wrapper" [formGroup]="updateSongForm">
        <label for="song-name">Name</label>
        <input type="text" name="song-name" formControlName="songName">
        <label for="song-album">Album</label>
        <input type="text" name="song-album" formControlName="songAlbum">
        <label for="song-artist">Artist</label>
        <input type="text" name="song-artist" formControlName="songArtist">
        <button type="button" class="song-info-dialog-update-btn" (click)="updateSong(songInfoSong)" [disabled]="!updateSongForm.valid">Update</button>
        <div>
          <img src="{{songInfoAlbumArtPath}}" onError="this.src='assets/albums/album-default.jpg'"/>
          <img src="{{songInfoArtisArtPath}}" onError="this.src='assets/artists/artist-default.jpg'"/>
        </div>
      </form>
    </dialog>
    <tr tabindex="0"
      class="regular-row"
      [ngClass]="{
        'active-row': (player.currentSong && player.currentSong?.id===song.id),
        'even-row': (player.currentSong?.id !== song.id && songIndex%2===0),
        'odd-row': (player.currentSong?.id !== song.id && songIndex%2!==0)}"
      *ngFor="let song of filteredSongs; let songIndex = index" 
      (dblclick)="songClicked(song)" (dragstart)="songDragStart($event, song)" (contextmenu)="songRightClick($event, song)"
      draggable="true"
    >
      <td>
        <button tabindex="-1" class="add-to-queue-btn" (click)="toggleSongInfo(song)">i</button>
      </td>
      <td>{{song.id}}</td>
      <td>{{song.name}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <dialog #SongContextMenu class="">
        <div>
          <div class="">
            <button (click)="closeSongContextMenu($event)">X</button>
          </div>
          <p (click)="addSongToQueue($event,true)" class="song-context-menu-option">&lt; Add to Front of Q</p>
          <p (click)="addSongToQueue($event,false)" class="song-context-menu-option">Add to Back of Q &gt;</p>
        </div>
      </dialog>
    </tr>
  </table>
</div>

