.table-wrapper{
  /* height: 100%; */
  height: calc(100% - 40px);
  overflow:scroll;
}

.table-styling {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.table-headers{
  text-align: left;
  padding: 2px;
}

.header-row{
  margin-bottom: 2px;
  background-color: #ededed;
  position: sticky;
  top: 0;
}

.regular-row{
  padding: 3px 2px 3px 2px;
  user-select: none;
}

.regular-row:hover{
  background-color: rgb(214, 167, 47);
  cursor: pointer;
}

.active-row{
  background-color: rgb(144 223 210);
}

.even-row{
  background-color: white;
}

.odd-row{
  background-color: rgb(231, 231, 231);
  border-color: rgb(231, 231, 231);
}

.header-words{
  user-select: none;
}

.header-words:hover{
  cursor: pointer;
  background-color: rgb(165, 165, 165);;
}

.header-words-focused{
  font-style: italic;
  text-decoration: underline;
}

.add-to-queue-btn{
  background: rgba(1, 1, 1, 0);
  border: none;
  color:rgb(64, 214, 219);
}

.add-to-queue-btn:hover{
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0);
  
}

.song-info-dialog{
  overflow: scroll;
  height:60%;
  z-index: 1000;
  padding-top: 6px;
  margin-bottom: 20px;
  min-width: 40%;
}

.song-info-dialog-menu{
  display:flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}

.song-info-dialog-input-wrapper{
  display: flex;
  flex-direction: column;
}

.song-info-dialog-update-btn{
  margin: 4px;
    width: 10%;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    background-color: rgb(214, 167, 47);
    box-shadow: black;
    border-color: black;
    border-radius: 5px;
}

.search-wrapper{
  margin-top: 6px;
  margin-bottom: 12px;
}

.search-input{
  width: 16%;
}